// rem 
// use font-size 62.5 so can adjust using rem
html {
    font-size: 62.5%;
}

body {
    font-family: Helvetica,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: $m-size;
    background-color:rgb(190, 202, 212);
}

h1 {
    font-size: $l-size;
}

button {
   cursor: pointer; 
}

button:disabled {
    cursor: default; 
 }

 .is-active {
    font-weight: bold; 
 }